@import url(../css/reset.css);
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/Neue/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/Neue/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Neue/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/Neue/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Neue/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/Neue/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/Neue/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Neue/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/Neue/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Neue/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/Neue/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/Neue/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Neue/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/Neue/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Neue/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HelveticaNeueCyr';
}

body._lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1340px;
  height: auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 42px;
  height: 60px;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #FF4242;
  border-radius: 12px;
  background: #FF4242;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: #FF4242;
  background: none;
}

.header {
  background: #23242A;
  color: #fff;
  position: relative;
}

.header__top {
  position: relative;
  height: 45px;
  width: 96%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul li {
  margin-right: 50px;
}

.header__menu ul li a {
  color: #D1DCE5;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.header__menu ul li a:hover {
  color: #FF4242;
}

.header__btn {
  height: 36px;
  padding: 0 18px;
  font-size: 18px;
  color: #fff;
  border-color: #fff;
  border-radius: 4px;
  background: none;
}

.header__btn:hover {
  background: #FF4242;
  border-color: #FF4242;
  color: #fff;
}

@media (max-width: 920px) {
  .header__icon {
    position: fixed;
    z-index: 6;
    top: 25px;
    left: 20px;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__icon span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__icon::before {
    content: '';
    top: 0;
  }
  .header__icon::after {
    content: '';
    bottom: 0;
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__logo {
    position: fixed;
    z-index: 6;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 25px;
  }
  .header__menu {
    position: fixed;
    z-index: 5;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #373942;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    overflow: auto;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    padding-top: 90px;
    padding-bottom: 20px;
  }
  .header__menu ul li {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__menu ul li a {
    font-size: 35px;
  }
  .header__menu::before {
    content: '';
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 70px;
    background: #23242A;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
  }
  .header__menu._active {
    top: 0;
  }
  .header__btn {
    position: fixed;
    z-index: 6;
    top: 17px;
    right: 20px;
  }
}

@media (max-width: 700px) {
  .header__btn {
    display: none;
  }
}

.intro {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 885px;
  padding: 50px 40px;
}

.intro h2 {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.11em;
}

.intro p {
  font-weight: bold;
  font-size: 84px;
  line-height: 110%;
  /* or 92px */
  letter-spacing: -0.045em;
}

.intro__btn {
  color: #fff;
  margin-top: 120px;
}

@media (max-width: 1460px) {
  .intro {
    min-height: 700px;
  }
  .intro h2 {
    font-size: 18px;
  }
  .intro p {
    font-size: 60px;
  }
  .intro__btn {
    margin-top: 75px;
  }
}

@media (max-width: 910px) {
  .intro {
    min-height: 550px;
  }
  .intro h2 {
    font-size: 15px;
  }
  .intro p {
    font-size: 45px;
  }
  .intro__btn {
    margin-top: 40px;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .intro {
    min-height: 500px;
  }
  .intro h2 {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .intro p {
    font-size: 33px;
  }
  .intro__btn {
    margin-top: 50px;
    font-size: 22px;
  }
}

.cards {
  position: relative;
  top: -105px;
}

.cards__body {
  min-width: 0;
}

.cards__item {
  width: 350px;
  height: auto;
  padding: 50px 45px 35px;
  margin-right: 30px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
          box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  color: #23242A;
  min-width: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.cards__item h3 {
  font-weight: 500;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.cards__item p {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin: 35px 0;
}

.cards__item:last-child {
  margin-right: 0;
}

.cards__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.cards__auth {
  font-weight: bold;
  font-size: 21px;
  color: rgba(17, 19, 30, 0.2);
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cards__auth:hover {
  color: #0E6FFF;
  text-decoration: underline;
}

.cards .slick-list {
  padding-left: 15%;
  padding-bottom: 100px;
}

.cards .slick-arrow {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 15%;
  font-size: 0;
  border: none;
  background: url(../img/slickLeft.svg);
  width: 28px;
  height: 30px;
}

.cards .slick-arrow:hover {
  background: url(../img/slickRightAct.svg);
}

.cards .slick-next {
  margin-left: 70px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards .slick-next:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cards .slick-prev:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .slick-slide {
  height: auto;
  margin-top: 30px;
}

@media (max-width: 1640px) {
  .cards .slick-list {
    padding: 0 7% 100px;
  }
  .cards .slick-arrow {
    left: 7%;
  }
}

@media (max-width: 580px) {
  .cards__item {
    width: 190px;
  }
  .cards__item h3 {
    font-size: 33px;
    line-height: 38px;
  }
  .cards__item p {
    font-size: 18px;
    margin: 25px 0;
  }
  .cards__item a {
    font-size: 16px;
  }
  .cards .slick-list {
    padding: 0 20px 80px 20px;
  }
  .cards .slick-slide {
    margin: 0 0 0 20px;
  }
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  margin: 135px 0 250px;
}

.info__text {
  width: 45%;
}

.info__text h3 {
  font-weight: bold;
  font-size: 52px;
  line-height: 110%;
  /* or 57px */
  letter-spacing: -0.045em;
  color: #23242A;
}

.info__text p {
  font-size: 28px;
  line-height: 120%;
  /* or 34px */
  letter-spacing: -0.01em;
  color: #23242A;
  margin: 40px 0 30px;
}

.info__text a {
  font-weight: bold;
  font-size: 21px;
  line-height: 135%;
  /* or 28px */
  letter-spacing: -0.01em;
  color: #0E6FFF;
}

.info__img {
  width: 45%;
}

.info__img img {
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .info__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info__text h3 {
    font-size: 40px;
  }
  .info__text p {
    font-size: 24px;
  }
  .info__text a {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .info__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
  .info__row-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: none;
            flex-flow: none;
    margin: 90px 0;
  }
  .info__text {
    width: 75%;
    margin: 30px 0 0 0;
  }
  .info__text P {
    margin: 25px 0 15px;
  }
  .info__img {
    width: 40%;
  }
}

@media (max-width: 540px) {
  .info__img {
    width: 65%;
  }
  .info__text {
    width: 100%;
  }
  .info__text p {
    font-size: 18px;
  }
  .info__text a {
    font-size: 16px;
  }
}

.des {
  margin-bottom: 250px;
}

.des__text h3 {
  font-weight: bold;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -0.045em;
  color: #23242A;
  width: 60%;
}

.des__text p {
  width: 55%;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #23242A;
  margin: 40px 0 60px;
}

.des__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1370px) {
  .des__text h3 {
    width: 80%;
  }
  .des__text p {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .des {
    padding-top: 50px;
    margin-bottom: 100px;
  }
  .des__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .des__text h3,
  .des__text p {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .des__text h3 {
    font-size: 50px;
  }
  .des__text p {
    font-size: 24px;
  }
}

.des-item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4%;
  padding-bottom: 30px;
}

.des-item__icon {
  width: 50px;
  height: 50px;
}

.des-item__text {
  margin-left: 30px;
}

.des-item__text h4 {
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #23242A;
}

.des-item__text p {
  margin-top: 15px;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #23242A;
}

@media (max-width: 900px) {
  .des-item {
    margin-right: 0;
    margin-top: 30px;
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .des-item__icon {
    margin-bottom: 12px;
  }
  .des-item__text {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .des-item {
    width: 90%;
  }
  .des-item__text p {
    font-size: 21px;
    margin-top: 10px;
  }
}

.des-item:last-child {
  margin-right: 0;
}

.poster {
  padding-bottom: 50px;
}

.poster__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #23242A;
  min-height: 370px;
  color: #fff;
  border-radius: 12px;
  padding: 0 115px;
}

.poster__bg {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 13%;
  min-width: 80px;
  height: auto;
}

.poster__text {
  width: 60%;
}

.poster__text h3 {
  font-weight: 500;
  font-size: 44px;
  line-height: 110%;
  /* or 48px */
  letter-spacing: -0.03em;
}

.poster__text p {
  margin-top: 20px;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  letter-spacing: -0.02em;
}

.poster__btn {
  position: relative;
  z-index: 3;
}

@media (max-width: 1180px) {
  .poster__body {
    padding: 0 50px;
  }
}

@media (max-width: 920px) {
  .poster__body {
    min-height: 0;
    padding: 50px;
  }
  .poster__text h3 {
    font-size: 35px;
  }
  .poster__text p {
    font-size: 18px;
  }
  .poster__btn {
    font-size: 24px;
  }
}

@media (max-width: 740px) {
  .poster__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .poster__text {
    width: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .poster__body {
    padding: 50px 30px 30px;
  }
  .poster__btn {
    font-size: 22px;
  }
}

.audit {
  margin-top: 220px;
  padding-bottom: 50px;
}

.audit__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}

.audit__title h2 {
  width: 70%;
  font-weight: bold;
  font-size: 52px;
  line-height: 110%;
  /* or 57px */
  letter-spacing: -0.045em;
  color: #23242A;
}

.audit__title a {
  font-weight: bold;
  font-size: 21px;
  line-height: 135%;
  /* or 28px */
  letter-spacing: -0.01em;
  /* Base/Primary */
  color: #0E6FFF;
}

.audit__title a i {
  margin-left: 15px;
  position: relative;
  z-index: 1;
  top: 5px;
  font-size: 32px;
}

.audit__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 920px) {
  .audit {
    margin-top: 100px;
  }
  .audit__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .audit__title h2 {
    width: 100%;
  }
  .audit__cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .audit__title h2 {
    font-size: 48px;
  }
}

.audit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
          box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.audit-item__main {
  padding: 50px 45px 65px;
  color: #23242A;
}

.audit-item__main h3 {
  font-weight: 500;
  font-size: 44px;
  line-height: 110%;
  /* or 48px */
  letter-spacing: -0.03em;
}

.audit-item__main p {
  margin-top: 45px;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  letter-spacing: -0.02em;
}

.audit-item__link {
  border-top: 2px solid #E9EDF3;
  padding: 30px 45px;
}

.audit-item__link a {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  /* or 28px */
  letter-spacing: -0.01em;
  color: rgba(17, 19, 30, 0.2);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.audit-item__link a:hover {
  color: #0E6FFF;
}

@media (max-width: 1240px) {
  .audit-item__main h3 {
    font-size: 35px;
  }
  .audit-item__main p {
    font-size: 18px;
    margin-top: 30px;
  }
}

@media (max-width: 920px) {
  .audit-item {
    width: 75%;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .audit-item {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .audit-item__main {
    padding: 35px 20px 40px;
  }
  .audit-item__link {
    padding: 25px 20px;
  }
}

.audit-item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
