@import url(../css/reset.css);

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Neue/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('../fonts/Neue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/Neue/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/Neue/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Neue/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('../fonts/Neue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/Neue/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/Neue/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Neue/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('../fonts/Neue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/Neue/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/Neue/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HelveticaNeueCyr';
}
body._lock {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1340px;
    height: auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 42px;
    height: 60px;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #FF4242;
    border-radius: 12px;
    background: #FF4242;
    transition: all 0.3s ease 0s;
}
.btn:hover {
    color: #FF4242;
    background: none;    
}

.header {
    background: #23242A;
    color: #fff;
    position: relative; 
    &__top {
        position: relative;
        height: 45px;
        width: 96%;
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        flex: 2 1 auto;
    }
    &__menu {
        ul {
            display: flex;
            li {
                margin-right: 50px;
                a {
                    color: #D1DCE5;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 21px;
                    transition: color 0.2s ease 0s;
                }
                a:hover {
                    color: #FF4242;
                }
            }
        }
    }
    &__btn {
        height: 36px;
        padding: 0 18px;
        font-size: 18px;
        color: #fff;
        border-color: #fff;
        border-radius: 4px;
        background: none;
    }
    &__btn:hover {
        background: #FF4242;
        border-color: #FF4242;
        color: #fff;
    }
    @media (max-width:920px) {
        &__icon {
            position: fixed;
            z-index: 6;
            top: 25px;
            left: 20px;
            display: block;
            width: 30px;
            height: 18px;
            cursor: pointer;
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
                }
            

        }
        &__icon span,
        &__icon::before,
        &__icon::after {
            position: absolute;
            left: 0;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: #fff;
        }
        &__icon::before {
            content: '';
            top: 0;
        }
        &__icon::after {
            content: '';
            bottom: 0;
        }
        &__icon._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &__icon._active::after {
            top: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
        &__icon._active span {
            transform: scale(0);
        }
        &__logo {
            position: fixed;
            z-index: 6;
            left: 50%;
            transform: translate(-50%, 0);
            top: 25px;
            
        }
        &__menu {
            position: fixed;
            z-index: 5;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #373942;
            transition: 0.3s ease;
            overflow: auto;
            ul {
                flex-direction: column;
                align-items: center;
                z-index: 5;
                padding-top: 90px;
                padding-bottom: 20px;
                li {
                    margin-right: 0;
                    margin-bottom: 30px;
                    a {
                        font-size: 35px;
                    }
                }
            }
        }
        &__menu::before {
            content: '';
            position: fixed;
            z-index: 3;
            top: 0;
            width: 100%;
            height: 70px;
            background: #23242A;
            box-shadow: 0px 0px 15px 3px rgba(0,0,0, 0.50);

        }
        &__menu._active {
            top: 0;
        }
        &__btn {
            position: fixed;
            z-index: 6;
            top: 17px;
            right: 20px;
            
        }
    }
    @media (max-width:700px) {
        &__btn {
            display: none;
        }
    }
}

.intro {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 885px;
    padding: 50px 40px;
    h2 {
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 0.11em;
    }
    p {
        font-weight: bold;
        font-size: 84px;
        line-height: 110%;
        /* or 92px */
        letter-spacing: -0.045em;
    }
    &__btn {
        color: #fff;
        margin-top: 120px;
    }
    @media (max-width:1460px) {
        min-height:700px;
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 60px;
        }
        &__btn {
            margin-top: 75px;
        }
    }
    @media (max-width:910px) {
        min-height:550px;
        h2 {
            font-size: 15px;
        }
        p {
            font-size: 45px;
        }
        &__btn {
            margin-top: 40px;
            font-size: 25px;
        }
    }
    @media (max-width:500px) {
        min-height:500px;
        h2 {
            font-size: 13px;
            margin-bottom: 20px;
        }
        p {
            font-size: 33px;
        }
        &__btn {
            margin-top: 50px;
            font-size: 22px;
        }
    }
}

.cards {
    position: relative;
    top: -105px;
    
    &__body {
        // display: flex;
        min-width: 0;
        // overflow: auto;
        
    }
    &__item {
        width: 350px;
        height: auto;
        padding: 50px 45px 35px;
        margin-right: 30px;
        background:#fff;
        border-radius: 15px;
        box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
        color: #23242A;
        min-width: 0;
        transition: transform 0.3s ease 0s;
        h3 {
            font-weight: 500;
            font-size: 44px;
            line-height: 48px;
            letter-spacing: -0.03em; 
        }
        p {
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.02em;
            margin: 35px 0;
        }
        
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__item:hover {
        transform: scale(1.03);
    }
    &__auth {
        font-weight: bold;
        font-size: 21px;
        color: rgba(17, 19, 30, 0.2);
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }
    &__auth:hover {
        color: #0E6FFF;
        text-decoration: underline;
    }
    .slick-list {
        padding-left: 15%;
        padding-bottom: 100px;
    }
    .slick-arrow {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 15%;
        font-size: 0;
        border: none;
        background: url(../img/slickLeft.svg);
        width: 28px;
        height: 30px;
    }
    .slick-arrow:hover {
        background: url(../img/slickRightAct.svg);
    }
    .slick-next {
        margin-left: 70px;
        transform: rotate(180deg);
    }

    .slick-next:hover {
        transform: rotate(0deg);
    }
    .slick-prev:hover {
        transform: rotate(180deg);
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        height: auto;
        margin-top: 30px;
    }
    @media (max-width: 1640px) {
        .slick-list {
            padding: 0 7% 100px;
        }
        .slick-arrow {
            left: 7%;
        }
    }
    @media (max-width: 580px) {
        &__item {
            width: 190px;
            h3 {
                font-size: 33px;
                line-height: 38px;
            }
            p {
                font-size: 18px;
                margin: 25px 0;
            }
            a {
                font-size: 16px;
            }
        }
        .slick-list {
            padding: 0 20px 80px 20px;
        }
        .slick-slide {
            margin: 0 0 0 20px;
        }
    }
}

.info {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__row-rev {
        flex-flow: row-reverse;
        margin: 135px 0 250px;
    }
    &__text {
        width: 45%;
        h3 {
            font-weight: bold;
            font-size: 52px;
            line-height: 110%;
            /* or 57px */
            letter-spacing: -0.045em;
            color: #23242A;
        }
        p {
            font-size: 28px;
            line-height: 120%;
            /* or 34px */
            letter-spacing: -0.01em;
            color: #23242A;
            margin: 40px 0 30px;
        }
        a {
            font-weight: bold;
            font-size: 21px;
            line-height: 135%;
            /* or 28px */
            letter-spacing: -0.01em;
            color: #0E6FFF;
        }
    }
    &__img {
        width: 45%;
        
        img {
            border-radius: 12px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    @media (max-width:1440px) {
        &__row {
            justify-content: space-around;
        }
        &__text {
            h3 {
                font-size: 40px;
            }
            p {
                font-size: 24px;
            }
            a {
                font-size: 18px;
            }
        }
    }
    @media (max-width:1440px) {
        &__row {
            flex-direction: column;
            // align-items: center;
            justify-content: start;
            text-align: center;
            flex-flow: column-reverse;
        }
        &__row-rev {
            flex-flow: none;
            margin: 90px 0;
        }
        &__text {
            width: 75%;
            margin: 30px 0 0 0;
            P {
                margin: 25px 0 15px;
            }
        }
        &__img {
            width: 40%;
            
        }
    }
    @media (max-width:540px) {
        &__img {
            width: 65%;   
        }
        &__text {
            width: 100%;
            p {
                font-size: 18px;
            }
            a {
                font-size: 16px;
            }
        }
       
    }
}    


.des {
    margin-bottom: 250px;

    &__text {
        h3 {
            font-weight: bold;
            font-size: 64px;
            line-height: 110%;
            letter-spacing: -0.045em;
            color: #23242A;
            width: 60%;
        }
        p {
            width: 55%;
            font-size: 28px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: #23242A;
            margin: 40px 0 60px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }
    
    @media (max-width: 1370px) {
        &__text {
            h3 {
                width: 80%;
            }
            p {
                width: 75%;
            }
        }
    }
    @media (max-width: 900px) {
        padding-top: 50px;
        margin-bottom: 100px;
        &__row {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            
            h3,
            p {
                width: 100%;
            }
        }
        
    }
    @media (max-width: 600px) {
        &__text {
            h3 {
                font-size: 50px;
            }
            p {
                font-size: 24px;
            }
        }
    }
}
.des-item {
    width: 48%;
    display: flex;
    margin-right: 4%;
    padding-bottom: 30px;
    &__icon {
        width: 50px;
        height: 50px;
    }

    &__text {
        margin-left: 30px;
        h4 {
            font-weight: bold;
            font-size: 30px;
            line-height: 120%;
            letter-spacing: -0.03em;
            color: #23242A;
        }
        p {
            margin-top: 15px;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #23242A;
        }
    }
    
    @media (max-width: 900px) {
        margin-right: 0;
        margin-top: 30px;
        width: 75%;
        flex-direction: column;
        align-items: center;
        &__icon {
            margin-bottom: 12px;
        }
        &__text {
            text-align: center;
            margin-left: 0;
        }
    }
    @media (max-width: 600px) {
        width: 90%;
        &__text {
            p {
                font-size: 21px;
                margin-top: 10px;
            }
        }
    }
    
}

.des-item:last-child {
    margin-right: 0;
}


// Poster

.poster {
    padding-bottom: 50px;
    &__body {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #23242A;
        min-height: 370px;
        color: #fff;
        border-radius: 12px;
        padding: 0 115px;
    }
    &__bg {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 13%;
        min-width: 80px;
        height: auto;
    }
    &__text {
        width: 60%;
        h3 {
            font-weight: 500;
            font-size: 44px;
            line-height: 110%;
            /* or 48px */
            letter-spacing: -0.03em;
        }
        p {
            margin-top: 20px;
            font-size: 24px;
            line-height: 130%;
            /* or 31px */
            letter-spacing: -0.02em;
        }
    }
    &__btn {
        position: relative;
        z-index: 3;
    }
    @media (max-width:1180px) {
        &__body {
            padding: 0 50px;
        }
    }
    @media (max-width:920px) {
        &__body {
            min-height: 0;
            padding: 50px;
        }
        &__text {
            h3 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
        }
        &__btn {
            font-size: 24px;
        }
    }
    @media (max-width:740px) {
        &__body {
            flex-direction: column;
        }
        &__text {
            width: auto;
            margin-bottom: 30px;
        }
    }
    @media (max-width:500px) {
        &__body {
            padding: 50px 30px 30px;
        }
        &__btn {
            font-size: 22px;
        }
    }
}

// Audit section

.audit {
    margin-top: 220px;
    padding-bottom: 50px;
    &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 70px;
        h2 {
            width: 70%;
            font-weight: bold;
            font-size: 52px;
            line-height: 110%;
            /* or 57px */
            letter-spacing: -0.045em;
            color: #23242A;
        }
        a {
            font-weight: bold;
            font-size: 21px;
            line-height: 135%;
            /* or 28px */
            letter-spacing: -0.01em;
            /* Base/Primary */
            color: #0E6FFF;
            i {
                margin-left: 15px;
                position: relative;
                z-index: 1;
                top: 5px;
                font-size: 32px;
            }

        }
    }
    &__cont {
        display: flex;
        justify-content: space-between;
    }
    @media (max-width:920px) {
        margin-top: 100px;
        &__title {
            flex-direction: column;
            h2 {
                width: 100%;
            }
        }
        &__cont {
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width:600px) {
        &__title {
            h2 {
                font-size: 48px;
            }
        }
    }
    
}

.audit-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 32%;
    border-radius: 12px;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
    transition: all 0.3s ease 0s;
    &__main {
        padding: 50px 45px 65px;
        color: #23242A;
        h3 {
            font-weight: 500;
            font-size: 44px;
            line-height: 110%;
            /* or 48px */
            letter-spacing: -0.03em;  
        }
        p {
            margin-top: 45px;
            font-size: 24px;
            line-height: 130%;
            /* or 31px */
            letter-spacing: -0.02em;
        }    
    }
    &__link {
        border-top: 2px solid #E9EDF3;
        padding: 30px 45px;
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 21px;
            /* or 28px */   
            letter-spacing: -0.01em;
            color: rgba(17, 19, 30, 0.2);
            transition: color 0.3s ease 0s;
        }
        a:hover {
            color: #0E6FFF;
        }
    }
    @media (max-width:1240px) {
        &__main {
            h3 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
                margin-top: 30px;
            }
        }
    }
    @media (max-width:920px) {
        width: 75%;
        margin-bottom: 30px;
        
    }
    @media (max-width:600px) {
        width: 95%;
    }
    @media (max-width:400px) {
        &__main {
            padding: 35px 20px 40px;
        }

        &__link {
            padding: 25px 20px;
        }
    }
}

.audit-item:hover {
    transform: scale(1.04);
}

// Scarf section

.scarf {
    margin-top: 250px;
    padding-bottom: 50px;
    &__text {
        width: 80%;
        margin: 0 auto;
        color: #23242A;
        h2 {
            font-weight: bold;
            font-size: 64px;
            line-height: 110%;
            /* or 70px */
            letter-spacing: -0.045em;
        }
        p {
            margin-top: 48px;
            font-size: 28px;
            line-height: 120%;
            /* or 34px */
            letter-spacing: -0.01em;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-top: 70px;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
            
        }
    }
    @media (max-width:920px) {
        margin-top: 40px;
        &__body {
            display: flex;
            flex-direction: column-reverse;
        }
        &__text {
            width: 100%;
            p {
                margin-top: 25px;
            }
        }
        &__img {
            margin-bottom: 20px;
        }
    }
    @media (max-width:620px) {
        &__text {
            h2 {
                font-size: 48px;
            }
            p {
                font-size: 22px;
                margin-top: 20px;
            }      
        }
        &__img {
            margin-top: 20px;    
        }
    }
}

// Section bunch (first galery)

.bunch {
    margin-top: 200px;
    padding-bottom: 50px;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__main {
        flex: 0 0 68%;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: transform 0.4s ease 0s;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    &__img:hover {
        transform: scale(1.04);
    }
    &__img-first {
        width: 56%;
        height: auto;
    }
    &__img-second {
        width: 35%;
        height: auto;
    }
    &__img-right {
        width: 100%;
        height: auto;
    }
    &__text {
        padding-top: 60px;
        color: #23242A;
        h3 {
            font-weight: bold;
            font-size: 64px;
            line-height: 110%;
            /* or 70px */
            letter-spacing: -0.045em;
        }
        p {
            font-size: 28px;
            line-height: 120%;
            /* or 34px */
            letter-spacing: -0.01em;
            margin-top: 45px;

        }
    }
    &__right {
        margin-left: 6%;
        flex: 1 1 26%;
        height: auto;
    }
    @media (max-width:920px) {
        margin-top: 100px;
        &__body {
            flex-direction: column;
        }
        &__main {
            margin-bottom: 50px;
        }
        &__row {
            justify-content: space-around;
        }
        &__text {
            p {
                margin-top: 25px;
            }
        }
        &__right {
            width: 65%;
            margin-left: 0;
        }
    }
    @media (max-width:550px) {
        margin-top: 50px;
        &__row {
            flex-direction: column-reverse;
        }
        &__img-first {
            width: 95%;
        }
        &__img-second {
            display: none;
        }
        &__text {
            padding-top: 15px;
            h3 {
                font-size: 48px;
            }
            p {
                font-size: 22px;
                margin-top: 20px;
            }
        }
        &__main {
            margin-bottom: 20px;
        }
    }
}

// Galery (main)

.galery {
    margin-top: 230px;
    padding-bottom: 50px;
    &__body {
        display: flex;
    }
    &__body-rv {
        flex-flow: row-reverse;
    }
    img {
        width: 100%;
        height: auto;
        margin-top: 60px;
        object-fit: cover;
        border-radius: 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: transform 0.4s ease 0s;
    }
    img:hover {
        transform: scale(1.02);
    }
    &__side {
        padding-top: 115px;
        flex: 1 1 26%;
        margin-right: 6%;
    }
    &__side-rv {
        padding-top: 0;
        flex: 1 1 39%;
        margin: 0 0 0 6%;
        img {
            margin-top: 0;
        }
    }

    &__main {
        color: #23242A;
        flex: 0 0 68%;
        h2 {
            font-weight: bold;
            font-size: 64px;
            line-height: 110%;
            /* or 70px */
            letter-spacing: -0.045em;
            padding: 0 20px;
        }
        p {
            font-size: 28px;
            line-height: 120%;
            /* or 34px */
            letter-spacing: -0.01em;
            margin-top: 45px;
            padding: 0 20px;
        }
        
    }
    &__main-rv {
        flex: 1 1 55%;
    }
    
    @media (max-width: 1180px) {
        &__body {
            flex-direction: column;
            align-items: center;
        }
        &__side {
            margin-right: 0;
            padding-top: 0;
            width: 320px;
        }
        &__main {
            p {
                margin-top: 25px;
            }
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            img {
                width: 80%;
                align-self: center;
            }
        }
    }
    @media (max-width: 920px) {
        margin-top: 100px;
        &__main {
            h2 {
                font-size: 48px;
            }
            p {
                font-size: 20px;
            }
        }
    }
    @media (max-width: 520px) {
        margin-top: 0;
        &__side {
            width: 200px;
        }
        &__main {
            h2 {
                font-size: 38px;
            }
            p {
                margin-bottom: 20px;
            }
        }
        img {
            margin-top: 0;
        }
    }

}





